
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul id="list"></ul>
        <form>
            id: <input type="text" id="id" name="Id" /><br />
            Name: <input type="text" id="name" name="Name" /><br />
            <input type="button" id="btnList" value="List" />
            <input type="button" id="btnGet" value="Get" />
        </form>
    </div>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>

    <script>
        $(function () {
            $("#btnList").click(function () {
                $("#list").empty();
                $.ajax({
                    type: "GET",
                    url: "/api/course",
                    success: function (data) {
                        data.forEach(function (item) {
                            $("#list").append($("<li>").text(item.Id + "---" + item.Name))
                        });
                    }
                });
            });
            $("#btnGet").click(function () {
                @*alert("@Url.Content("~/api/course/")" + $("#id").val());*@
                $.ajax({
                    type: "GET",
                    url: "@Url.Content("~/api/course/")" + $("#id").val(),
                    success: function (data) {
                        $("#name").val(data.Name);
                    }
                });
            });
        });
    </script>
</body>
</html>
